*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
background:#0f172a;
color:white;
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
padding-top:40px;
}

/* título */

h1{
margin-bottom:30px;
font-size:34px;
letter-spacing:1px;
}

/* formulario */

form{
background:#1e293b;
padding:40px;
width:420px;
border-radius:12px;
box-shadow:0 20px 50px rgba(0,0,0,0.7);
}

/* grupo de input */

.input-group{
position:relative;
margin-bottom:22px;
}

/* icones */

.input-group i{
position:absolute;
left:12px;
top:38px;
color:#3b82f6;
font-size:16px;
}

/* label */

label{
font-size:14px;
color:#cbd5f5;
display:block;
margin-bottom:5px;
}

/* inputs */

input{
width:100%;
padding:12px 12px 12px 38px;
border-radius:8px;
border:1px solid #334155;
background:#0f172a;
color:white;
font-size:14px;
transition:0.3s;
}

/* placeholder */

input::placeholder{
color:#64748b;
}

/* foco */

input:focus{
border-color:#3b82f6;
outline:none;
box-shadow:0 0 6px rgba(59,130,246,0.6);
}

/* mensagens de erro */

span{
color:#ef4444;
font-size:12px;
}

/* botoes */

.botoes{
display:flex;
justify-content:space-between;
margin-top:15px;
}

/* botao */

button{
padding:12px 20px;
border:none;
border-radius:8px;
font-size:14px;
cursor:pointer;
transition:0.3s;
font-weight:600;
}

/* enviar */

button[type="submit"]{
background:#3b82f6;
color:white;
}

button[type="submit"]:hover{
background:#2563eb;
transform:translateY(-2px);
}

/* limpar */

button[type="reset"]{
background:#334155;
color:white;
}

button[type="reset"]:hover{
background:#475569;
}

/* linha separadora */

hr{
margin-top:40px;
width:420px;
border:1px solid #334155;
}

/* resultado */

#resultado{
margin-top:20px;
width:420px;
background:#1e293b;
padding:20px;
border-radius:10px;
}
.botao-voltar{
display:inline-block;
margin-bottom:25px;
padding:10px 18px;
background:#334155;
color:white;
text-decoration:none;
border-radius:8px;
font-size:14px;
transition:0.3s;
}

.botao-voltar i{
margin-right:6px;
}

.botao-voltar:hover{
background:#3b82f6;
transform:translateY(-2px);
}
.cartao-container{
position: relative;
width: 100%;
}

#cartao{
width: 100%;
padding-right: 60px;
height: 35px;
}

.bandeira-cartao{
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
width: 40px;
display: none;
}