body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
div {
    background-color: black;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #ccc;
    border-radius: 5px;
    
}