
form{
    background-color: orange;
        padding: 20px;
        border-radius: 10px;
        width: 500px;
        margin: 80px auto;
        box-shadow: 0 0 10px rgba(208, 34, 34, 0.2);
        color:black;
        opacity: 0.7;
}
label{
    background-color: orange;
}
body {
    background-image: url('banner2.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
  
}