.menu-fixo {
    width: 100%;
    height: 60px;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 20px;
  }
  
.Menu {
    width: 100%;
    height: 9px;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: fixed;
    top: 80px;
    left: 0;
  }
body {
    margin: 0;
    padding: 0;
    display: block;   
    background: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
.conteudo p {
    margin-bottom: 20px;
  }
  
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  img{
    box-shadow: 10px 10px 5px grey;
    margin:80px;
    padding:15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200vh;
    height: 80vh; 
    
}
.conteudo{
    background-color: white;
    color:black;
    text-align: center;
    margin: center;
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
    margin:center; 
    padding: 30px;
    padding-top: 90px;
    flex: 1;
    width: 196.5vh;
    height: 60vh; 
    border:2px solid black;
    border-radius: 15px;
}  
a{
    color:black;
    text-decoration: none;
    background-color: grey;
    bottom: 2px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 30px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
a.hover{
    background-color: lightgrey;
    color: black;
    transform: scale(1.05);
}
